<!DOCTYPE html>
{{! gas: Google Application Server
! duckspot.com
! 
! mvn/src/main/webapp/template/gas/home.html
! }}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="shortcut icon" href="favicon.png">

        <title>Gas</title>

        <!-- Bootstrap core CSS -->
        <link href="/dist/css/bootstrap.css" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href="/css/gas.css" rel="stylesheet">

    </head>

    <body>

        <div class="container">
            <div class="page-header">                
                <img id="logo" src="/images/Yellow_toy_balloon.svg" />
                <h1>Gas <small>from duckspot.com</small></h1>
                <ul class="nav nav-pills">
                    <li><a href="/gas/login">login</a></li>
                    <li><a href="/gas/register">register</a></li>
                </ul>
            </div>
            
        </div> <!-- /container -->
    </body>
</html>